{:paths ["src"]
 :deps  {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
         org.clojure/data.csv {:mvn/version "1.0.1"}}
 :aliases 
  {:neil {:project {:name guitar-exercise-figuring/guitar-exercise-figuring}}}}
